/* My style */

/*

  By Kevin Swallow

  ---

  1.  Layout
  2.  Typography
  3.  Other Elements
  4.  Media Queries & Responsiveness
  5.  Fonts

*/

/*--------------------------------------------------------------------------
  1.  Layout  #top { position: relative; width: 100%; height: 190px; }
/*------------------------------------------------------------------------*/

html {
  height: 100%;
    background: rgb(241, 241, 241);
}

body {
  line-height: 1.2; /* without this, webkit adds "margin-before" */
  height: 100%;
}

a{
  margin-right: 2em;
}

a:hover { 
  color:green; 
  text-decoration:none; 
}

a:visited { 
  color:purple; 
  text-decoration:none; 
}

a:active  { 
  color:red; 
  text-decoration:none; 
}

.container {
  width: 100%;
  height: 100%;

}

.banner  {
  overflow: auto;
  /* gradient generator: blue to clear; */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOGVlZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(168,238,255,1) 89%), rgba(0,96,119,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(89%,rgba(168,238,255,1)), color-stop(100%,rgba(0,96,119,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(168,238,255,1) 89%), rgba(0,96,119,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(168,238,255,1) 89%), rgba(0,96,119,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(168,238,255,1) 89%), rgba(0,96,119,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(168,238,255,1) 89%), rgba(0,96,119,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#a8eeff',GradientType=0 ); /* IE6-8 */
  box-shadow: 0 10px 5px 2px #888;
}

.wrapper{
  margin-bottom: 35px;

}

.main {
  width: 30%;
  /*margin: 20% auto;*/
  margin-top: 0;
  margin-bottom: 0;
  min-width: 240px;
  /*height: 100%;*/
/*  position: relative;*/
    float: left;
}

.sidebar {
  width: 30%;
  float: left;
  margin-left:5%;
}

.version {
  float: right;
}

.contact {
  margin-left: 2em;
}


footer {
   position:fixed;
   bottom:0;
   height:25px;
   width:100%;
   background:#999;
   line-height: 1.5;
}




/*--------------------------------------------------------------------------
  2.  Typography
/*------------------------------------------------------------------------*/

body {
	font: Helvetica, Arial, Sans-serif;
	font-size: 1em;
}

h1 {
	font-family:"Times New Roman",Georgia,Serif;
  line-height: 1;
  text-align: center;
  font-size: 2.2em;
  font-weight: normal;
}

h4 {
  padding-right: 2em;
}

.right {
  float: right;
}

nav {
  line-height: 1.5;
  padding-top: 10px;
}

.centered {
  text-align: center;
}

.cred {
  clear: both;
  padding-bottom: 30px;
}

/*--------------------------------------------------------------------------
  3.  Other Elements
/*------------------------------------------------------------------------*/

.sprite-swallow_icon{ 
  background: url("../_images/sprite.png") no-repeat top left;
  background-position: 0 -230px; 
  width: 44px; 
  height: 44px; 
  display: inline-block;
  margin: 0 1em -0.25em 1em;
} 


